text-analysis-service/.aws-sam/
text-analysis-service/scripts/__pycache__/**
**/__pycache__/**
text-analysis-service/scripts/__pycache__
text-analysis-service/src/__pycache__/
text-analysis-service/__pycache__/
text-analysis-service/scripts/__pycache__/
text-analysis-service/src/__pycache__/
text-analysis-service/src/app/__pycache__/
text-analysis-service/src/app/pipeline/__pycache__/
text-analysis-service/src/app/utils/__pycache__/
text-analysis-service/tests/__pycache__/
text-analysis-service/tests/integration/__pycache__/